<div class="footer">
  <p class="footer-title">This website(Jimo-Kara) is sample site.<br>If you have created other applications, please go to this link
  <%= link_to "My Portfolio Site", "#", class:'footer-link'%>
  </p>
</div>
