<div class="header">
  <h1 class="header-title">Jimo-Kara</h1>
  <ul class="header-lists">
    <%# ユーザーがログインしている場合 %>
    <%# <li>Mypage</li>
    <li>Home</li>
    <li>Logout</li> %>
    <%# ユーザーがログインしていない場合 %>
    <li class="header-list">Sign up</li>
    <li class="header-list">Sign in</li>
  </ul>
</div>
